.tag {
  border-radius: 10px;
  background: #ff6060;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  font-size: 14px;
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 10px;
  }
}
