.host {
  display: flex;
  gap: 10px;
  align-items: center;
  img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
  }
  p {
    color: #ff6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 25.668px */
  }
}
