@import "./components/header/header";
@import "./components/banner/banner";
@import "./components/thumb/thumb";
@import "./components/footer/footer";
@import "./components/carousel/carrousel";
@import "./components/tag/tag";
@import "./components/collaspe/collaspe";
@import "./components/host/host.scss";
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
html,
body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

.gallery {
  border-radius: 25px;
  background: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: center;
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 50px;
  margin-left: 20px;
  margin-right: 20px;
  @media (max-width: 767px) {
    background: none;
    grid-row-gap: 15px;
  }
  @media (max-width: 475px) {
    padding: 0;
    margin-top: 0;
  }
}

.carrousel {
  &img {
    height: 415px;
  }
}

.page-home {
  display: inline-flex;
  padding-top: 45px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  @media (min-width: 768px) and (max-width: 1024px) {
  }

  @media (max-width: 767px) {
    display: inline-flex;
    padding-top: 20px;
    flex-direction: column;
    gap: 27px;
    width: 100%;
  }
}

.page-logement {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  align-items: center;
  gap: 50px;
  &-main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  }

  @media (max-width: 767px) {
    padding-top: 20px;
    gap: 27px;
    width: 100%;
  }
}

.page-about {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  &-main {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  &-collaspe {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  }

  @media (max-width: 767px) {
    width: 100%;
    gap: 19px;
  }
}

.logements {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  &-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    h1 {
      color: #ff6060;
      margin-bottom: 0;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    &-host {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    margin-bottom: 30px;
    &-tag {
      display: flex;
      gap: 10px;
    }
  }
  &-stars-rating {
    display: flex;
    gap: 5px;
  }
  &-collaspe {
    display: flex;
    gap: 72px;
  }
  &-stars-rating {
    &_1 {
      color: #ff6060;
      text-shadow: 0px 0px 5px rgb(180, 166, 166);
      font-size: 21px;
    }
    &_2 {
      color: #e3e3e3;
      font-size: 21px;
    }
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
    }
    p {
      font-size: 14px;
    }
    &-info {
      flex-direction: column;
      align-items: start;

      &-host {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
    }
    &-collaspe {
      flex-direction: column;
      gap: 20px;
    }

    &-stars-rating {
      &_1,
      &_2 {
        font-size: 13px;
      }
    }
  }
  @media (max-width: 475px) {
    h1 {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%; /* 19.964px */
      text-align: left;
    }
  }
}

.page-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 139px;
  &-content {
    h1 {
      color: #ff6060;
      text-align: center;
      font-family: Montserrat;
      font-size: 288px;
      font-style: normal;
      font-weight: 700;
      line-height: 142.6%;
      margin: 0;
    }
    p {
      color: #ff6060;
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%; /* 51.336px */
      margin: 0;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  }

  @media (max-width: 767px) {
    padding-top: 20px;
    &-content {
      h1 {
        color: #ff6060;
        text-align: center;
        font-family: Montserrat;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 142.6%; /* 136.896px */
      }
      p {
        color: #ff6060;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%; /* 25.668px */
      }
    }
  }
}
