@import "./components/header/header";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: unset;
}

.gallery {
  border-radius: 25px;
  background: #f6f6f6;
}
