.hero-header {
  height: 223px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  position: relative;
  > h1 {
    position: absolute;
    color: white;
    top: 70px;
    font-size: 60px;
  }

  &_img {
    border-radius: 25px;
    filter: brightness(50%);
    width: 100%;
    object-fit: cover;
  }
}
